@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="content-header">
    <div class="container-fluid">
        <h1>Bem-vindo!</h1>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.ContagemProdutos</h3>
                        <p>Produtos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-box"></i>
                    </div>
                    <a asp-controller="Produto" asp-action="ProdutoIndex" class="small-box-footer">Ver mais <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>@Model.ContagemCategorias</h3>
                        <p>Categorias</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-list"></i>
                    </div>
                    <a asp-controller="Categoria" asp-action="CategoriaIndex" class="small-box-footer">Ver mais <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</section>


@*<div class="row">
    <div class="col-12 col-lg-6">
        <a asp-controller="Produto" asp-action="ProdutoIndex" class="btn btn-primary form-control"><i class="fas fa-box"></i> Produtos</a>
    </div>
    <div class="col-12 col-lg-6">
        <a asp-controller="Categoria" asp-action="CategoriaIndex" class="btn btn-primary form-control"><i class="fas fa-list"></i> Categorias</a>
    </div>
</div>*@